---
import HeroHomepage from "../components/HeroHomepage.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroCards from "../components/HeroCards.astro";
import HomePageAbout from "../components/HomePageAbout.astro";
import ProgramsList from "../components/ProgramsList.astro";
import CTAWhyUs from "../components/CTAWhyUs.astro";
import bgImage from "../assets/stock/hero-homepage.jpg";
---

<BaseLayout>
  <div
    class={`bg-[url('${bgImage}')] relative min-h-[115vh] bg-cover bg-center bg-no-repeat px-20`}
  >
    <div
      class="relative z-30 container flex h-full flex-col justify-center gap-18"
    >
      {/* Hero section */}
      <HeroHomepage
        data={{
          eyebrow: "Our Blog",
          title: "Discover Amazing Places",
          subtitle: "Welcome to my website!",
          styling:
            "relative min-h-[60vh] overflow-hidden flex flex-row items-end",
        }}
      />
      <HeroCards />
    </div>
    <div class="pointer-events-none absolute inset-0 z-20 bg-black/50"></div>
  </div>
  <HomePageAbout />
  <ProgramsList />
  <CTAWhyUs />
</BaseLayout>
