---

---

<section class="bg-black relative min-h-[70vh]" id="page-form-section">
  {/* soft radial glow */}
  <div
    class="hidden from-yellow-400/60 pointer-events-none absolute -top-24 left-1/2 -translate-x-[960px] size-[960px] bg-radial-[at_50%_50%] to-transparent to-60% 2xl:block"
  >
  </div>
  <div class="relative mx-auto max-w-7xl px-6 py-12">
    <iframe
      src="https://msg.flightschoolcrm.com/widget/booking/TNIKdre2TDqdOJepxvQv"
      style="width: 100%;border:none;overflow: hidden;"
      scrolling="no"
      id="TNIKdre2TDqdOJepxvQv_1765234569099"></iframe>
    <script src="https://msg.flightschoolcrm.com/js/form_embed.js" type="text/javascript"></script>
  </div>
</section>
