---
const data = {
  eyebrow: "YOUR PILOT CAREER START HERE",
  heading: "Take Off with McFly Aviation",
  description:
    "Experience personalized flight training with Marty Marino, a passionate instructor dedicated to your success. Whether you're starting your first lesson or advancing your skills, McFly Aviation offers a supportive community and expert guidance every step of the way.",
  primary: { label: "Book an Intro Flight", href: "/discovery-flight" },
  image: {
    src: "/src/assets/dominic-chasse-HoXuUY3h2z8-unsplash.jpg",
    alt: "Smiling flight instructors and students in uniform",
  },
};
---

<section class="overflow-hidden from-accent-950 to-black bg-gradient-to-b">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d425.28735262544404!2d-117.68533882390378!3d34.11128194612025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c331754e0e0f7b%3A0xde7caf763c7567bc!2sMcfly%20Education!5e1!3m2!1sen!2sbr!4v1765221526029!5m2!1sen!2sbr"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="w-full h-[60vh]"></iframe>
</section>
