---
const { data } = Astro.props;
import ImageComp from "./ImageComp.astro";
import HeroCards from "./HeroCards.astro";
---

<div class={data.styling}>
  <div class="max-w-4xl text-center text-white md:text-left">
    <div class="flex flex-col items-center gap-6 md:items-start lg:gap-8">
      <p class="eyebrow font-semibold uppercase lg:text-base">
        {data.eyebrow}
      </p>
      <h1 class="max-w-4xl text-6xl leading-20 italic lg:leading-[4.5rem]">
        {data.title}
      </h1>
      {
        data.subtitle && (
          <h2 class="text-2xl font-semibold lg:text-3xl">{data.subtitle}</h2>
        )
      }
    </div>
  </div>
</div>
